# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
matlab.mat
resources/project/qaw0eS1zuuY1ar9TdPn1GMfrjbQ/lS44zLcWRV0r2wXs_3MCsStD69Ed.xml
resources/project/qaw0eS1zuuY1ar9TdPn1GMfrjbQ/lS44zLcWRV0r2wXs_3MCsStD69Ep.xml
resources/project/qaw0eS1zuuY1ar9TdPn1GMfrjbQ/RiJicnrVMR0SbwU_mP11JbDQ52Qp.xml
resources/project/qaw0eS1zuuY1ar9TdPn1GMfrjbQ/RiJicnrVMR0SbwU_mP11JbDQ52Qd.xml
.gitignore
